
<div *ngIf="zzz.CycleCount==0"> 
<h1> 
   {{GameTitle}}
 </h1>

 Upgrade the Market to make more money.
 <BR>
 Upgrade the Camp to train your Warrior faster.
 <BR>
 Attempt deeds to increase your Warriro's level - the more training you have the more certain your victory.  
 <h4>
   The goal of this game is to get your Warrior to Level {{zzz.Warrior.MaxLevel}}.
</h4>
 <BR>
 * <i>Occasionally bad stuff will happen.</i>
 <h4>
   <BR>
   Warrior's Name: <input [(ngModel)]="this.zzz.Warrior.PersonalName"/> 
   <BR>
 Click Start to start
 </h4>

 
 </div>

<div *ngIf="zzz.IsGaveActive"> 
<h1> 
   {{GameTitle}}
 </h1>
 put a button here to restart...
 <button (click)='resetEverything()'>RESET</button>
 </div>


<div *ngIf="zzz.IsGameComplete">
<h1> 
   {{GameTitle}}
 </h1>
 You have won!  Everyone in the Kingdom is very happy for you.   It took you {{zzz.CycleCount}} rounds. 


</div>