
<div *ngIf="zzz.CycleCount==0"> 
<h1> 
   {{GameTitle}}
 </h1>
    

 Upgrade the Market to make Gold faster.
 <BR>
 Upgrade the Camp to train your Warrior faster.
 <BR>
 Attempt deeds to increase your Warriro's level - the more XP you have the more certain your victory.  
 <h4>
   The goal is to make your Warrior "Mighty"!  (Currently you are "{{zzz.Warrior.Title}}")
</h4>
 <BR>
 * <i>Occasionally bad stuff will happen.</i>
 </div>
 <BR>

<div *ngIf="zzz.IsGaveActive"> 
<h1> 
   {{GameTitle}}
 </h1>
 put a button here to restart...
 <button (click)='resetEverything()'>RESET</button>
 </div>


<div *ngIf="zzz.IsGameComplete">
<h1> 
   {{GameTitle}}
 </h1>
 You have won!  Everyone in the Kingdom is very happy for you.   It took you {{zzz.CycleCount}} Days. 


</div>