

<div class ="buttonBar">
<div class="grouerOutermost">

    <div class="grouperLeftLevel" style="background:url('./assets/res/warrior.png') no-repeat">
        <div class="grouperLeftTop">
        Warrior
       </div>
        {{zzz.Warrior.Title}}
    </div>
    <div class="grouperRightLevel" style="background-color:darkred">
        {{zzz.Warrior.Name}}
        <BR>
        <div *ngIf="zzz.IsGaveActive && zzz.Warrior.XP > 0">
            <button (click)='AttemptDeed()'>Attempt {{zzz.Warrior.NextLevelDeedName}} Deed</button>
            <BR>
            {{zzz.Warrior.GetChanceString()}}
        </div>
    </div>
    </div>
    

    <div class="grouerOutermost">
    <div class="grouperLeftLevel" style="background:url('./assets/res/market.png') no-repeat">
        <div class="grouperLeftTop">
        Market
       </div>
        {{zzz.Market.Name}}
    </div>
    <div class="grouperRightLevel" style="background-color:darkgreen">
        {{zzz.Market.Level}} Gold / Day
        <BR>
        <div *ngIf="zzz.CanUpgradeMarket()"> <button (click)='UpgradeMarket()'>Upgrade Market</button> </div>
        <div *ngIf="!zzz.CanUpgradeMarket()"><BR></div>
        Upgrade Cost: {{zzz.Market.GetUpgradePrice()}} Gold
    </div>
    </div>


<div class="grouerOutermost">
    <div class="grouperLeftLevel"  style="background:url('./assets/res/camp.png') no-repeat">
        <div class="grouperLeftTop">
        Camp
       </div>
        {{zzz.Camp.Name}}
    </div>
    <div class="grouperRightLevel" style="background-color:darkblue">
        {{zzz.Camp.Level}} XP / Day
        <BR>
        <div *ngIf="zzz.CanUpgradeCamp()"> <button (click)='UpgradeCamp()'>Upgrade Camp</button> </div>
        <div *ngIf="!zzz.CanUpgradeCamp()"><BR></div>
         Upgrade Cost: {{zzz.Camp.GetUpgradePrice()}} Gold     
    </div>
</div>

<br style="clear: left;" />
</div>





<div class="statusbar">
<div class = "barbox" >
<div class = "barboxtop">
 Gold
 </div>
 {{zzz.Gold}}
</div>

<div class = "barbox">
<div class = "barboxtop">
 Day
 </div>
 {{zzz.CycleCount}}
</div>


<div class = "barbox">
<div class = "barboxtop">
 Builder Status
 </div>
 <div *ngIf="zzz.Builder.RecoveryTime == 0">Ready!</div>
 <div *ngIf="zzz.Builder.RecoveryTime == 1">{{zzz.Builder.RecoveryTime}} Day Left</div>
 <div *ngIf="zzz.Builder.RecoveryTime > 1">{{zzz.Builder.RecoveryTime}} Days Left</div>
</div>


  

        <div *ngIf="zzz.IsGaveActive" > <button (click)='nextClick()'>Next Day...</button></div>
    
<br style="clear: left;" />
</div>




<div class="routerZone">
<router-outlet> </router-outlet>
</div>


  <div *ngIf="zzz.CycleCount == 0">
        Warrior's Name: <input [(ngModel)]="this.zzz.Warrior.PersonalName" autofocus/>
        <button (click)='nextClick()'>Start Game!</button> 
    </div>
