<div class="statusbar">
<div class = "barbox" >
<div class = "barboxtop">
 Gold
 </div>
 {{zzz.Gold}}
</div>

<div class = "barbox">
<div class = "barboxtop">
 Warrior
 </div>
 {{ zzz.Warrior.Title}}
</div>


<div class = "barbox">
<div class = "barboxtop">
 Market
 </div>
 {{zzz.Market.Name}}
</div>

<div class = "barbox">
<div class = "barboxtop">
 Camp
 </div>
 {{zzz.Camp.Name}}
</div>


<div class = "barbox">
<div class = "barboxtop">
 Day
 </div>
 {{zzz.CycleCount}}
</div>

<br style="clear: left;" />
</div>


<div *ngIf="zzz.IsGaveActive" class = "buttonBar"> <button (click)='nextClick()'>Next Day...</button></div>
<div *ngIf="zzz.CycleCount == 0" class = "buttonBar"> <button (click)='nextClick()'>Start</button></div>


<div>
<router-outlet></router-outlet>
 </div>

<div *ngIf="zzz.IsGaveActive" class="bottomBar">
 <div *ngIf="zzz.CanUpgradeMarket()"> <button (click)='UpgradeMarket()'>Upgrade Market</button> </div>
 <div *ngIf="!zzz.CanUpgradeMarket()"> Gold needed to upgrade Market: {{zzz.Market.GetUpgradePrice()}} </div>

 <div *ngIf="zzz.CanUpgradeCamp()"> <button (click)='UpgradeCamp()'>Upgrade Camp</button> </div>
 <div *ngIf="!zzz.CanUpgradeCamp()"> Gold needed to upgrade Camp: {{zzz.Camp.GetUpgradePrice()}} </div>

<div *ngIf="zzz.Warrior.XP > 0">
<button (click)='AttemptDeed()'>Attempt {{zzz.Warrior.NextLevelDeedName}} Deed</button>
 {{zzz.Warrior.GetChanceString()}}
</div>

</div>
 
