div.barbox
{
    border-style: solid;
    border-width: 4px;
    border-color: darkred;
    background-color: brown;
    color: lightblue;
    font-size: 25px;
    float: left;
    text-align: center;

}

div.barboxtop
{
    border-style: solid;
    border-left-width: 15px;
    border-right-width: 15px;
    border-top-width: 1px;
    border-bottom-width:2px;
    border-color: gray;
    color:black;
    padding-left:4px;
    padding-right:4px;
    float: top;
    font-size: 15px;
    background-color:silver;
}


div.statusbar
{
    border-style: solid;
    border-width: 1px;
    background-color: darkred;
}

div.buttonBar
{
    background-image: url("./assets/res/ButtonBarBackdrop.png");
    background-repeat: repeat;
    padding: 10px;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}

div.bottomBar
{
    border-style: solid;
    border-width: 1px;
    background-color: #201010;
    color: lightblue;
}